.nav{
    grid-area: n;
    background-color: rgb(6, 182, 102);
    padding: 20px;
}

.item a,
.friends a{
    color: #eaeaea;
    text-decoration: none;
}

.item a.active,
.friends a.active{
    color: gold;
}

.item a:hover,
.friends a:hover{
    color: gold;
}

.friends{
    margin: 6em 0 2em 0;
}

.friends a{
    font-size: 3em;
    font-weight: 400;
}