.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error span {
    color: red;
}

.errorSummaryError {
    padding: 1px 1em;
    background: rgb(255, 123, 123);
}